{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Choose Your Drill</h2>
    <div class="card-container">
        <a class="card" href="/salute" aria-label="Salute Drill">
            <i class="fas fa-hand-paper"></i>
            <h3>Salute</h3>
            <p>The salute is a gesture of respect and trust.</p>
        </a>
        <a class="card" href="/kadamchal" aria-label="Kadam Tal Drill">
            <i class="fas fa-shoe-prints"></i>
            <h3>Kadam Tal</h3>
            <p>Click here for Kadam Tal Tracking.</p>
        </a>
        <a class="card" href="/bajuswing" aria-label="Baju Swing Drill">
            <i class="fas fa-running"></i>
            <h3>Baju Swing</h3>
            <p>Click here for Swing.</p>
        </a>
        <a class="card" href="/slowmarch" aria-label="Slow March Drill">
            <i class="fas fa-walking"></i>
            <h3>Slow March Track</h3>
            <p>Click here for Slow March.</p>
        </a>
        <a class="card" href="/tejchal" aria-label="Tej March Drill">
            <i class="fas fa-forward"></i>
            <h3>Tej March</h3>
            <p>Click here for Tej Chal.</p>
        </a>
        <a class="card" href="/hillmarch" aria-label="Hill March Drill">
            <i class="fas fa-mountain"></i>
            <h3>Hill March</h3>
            <p>Click here for Hill March.</p>
        </a>
    </div>
{% endblock %}